@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

.enterSite{
    position: absolute;
    width: 180px;
    height: 30px;
    border-radius: 50px;
    border: none;
    top: 50vh;
    left: calc(50% - 150px);
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;   
    animation: displayOn 5s ease-in forwards;
    transition: all 0.5s ease ;
}
.enterSite:hover{
    background-color: #FFD700;
    transition: all 0.5s ease;
}

.noDisplay {
  display: none;
}


/* Main headers starting position */
.mainHeader {
    position: absolute;
    width: 348px;
    top: calc(50vh - 100px);
    left: calc(50% - 60px - (348px /2));
    animation: colorChange 2s ease-in;
}

.subheader{
    position: absolute;
    width: 244px;
    top: calc(50vh - 50px);
    left: calc(50% - 60px - 122px);
    color: #101116;
    animation: colorChange 2s ease-in 1s forwards;
}
.mainHeaderAnimation {
    animation: mainHeader 3.2s ease-in-out forwards;
}
.subheaderAnimation {
    animation: headerTwo 3.2s ease-in-out forwards;
}
.mainHeaderThree{
    position: absolute;
    color: #101116;
    top: 85px;
    left: 0px;
    width: 100px;
    animation: colorChange 2s ease-in-out 3s forwards;
}

/********* Header Animations for desktop *********/
@keyframes displayOn {
    0%{
        background-color: #101116;
        color: #101116;
    }
    40%{
        background-color: #101116;
        color: #101116;
        
    }
    100%{
        background-color: white;
        color: black;
    }
}
@keyframes colorChange {
    0%{
        color: #101116;
    }
    10%{
        color: #101116;
    }
    100%{
        color: #E6E6FA;
    }
}
@keyframes mainHeader {
    0%{
        position: absolute;
        width: 348px;
        top: calc(50vh - 100px);
        left: 486px;
    }
    20%{
        position: absolute;
        width: 348px;
        top: calc(50vh - 100px);
        left: 486px;
    }
    60%{
        position: absolute;
        width: 348px;
        top: 0px;
        left: 0px ;
    }
    100% {
        position: absolute;
        width: 348px;
        top: 0px;
        left: 0px;
    }
}

@keyframes headerTwo {
    0%{
        position: absolute;
        width: 244px;
        top: calc(50vh - 50px);
        left: 538px;
    }
    30%{
        position: absolute;
        width: 244px;
        top: calc(50vh - 50px);
        left: 538px;
    }
    80%{
        position: absolute;
        width: 244px;
        top: 50px;
        left: 0% ;
    }
    100%{
        position: absolute;
        width: 244px;
        top: 50px;
        left: 0%;
    }
}

/********* Animations on laptop *********/

@media only screen and (max-width: 1440px){
    .mainHeaderAnimation {
        animation: mainHeaderLaptop 3.2s ease-in-out forwards;
    }
    .subheaderAnimation {
        animation: headerTwoLaptop 3.2s ease-in-out forwards;
    }
    @keyframes mainHeaderLaptop {
        0%{
            position: absolute;
            width: 348px;
            top: calc(50vh - 100px);
            left: calc(50% - 60px - (348px /2));
        }
        20%{
            position: absolute;
            width: 348px;
            top: calc(50vh - 100px);
            left: calc(50% - 60px - (348px /2));
        }
        60%{
            position: absolute;
            width: 348px;
            top: 0px;
            left: 0px ;
        }
        100% {
            position: absolute;
            width: 348px;
            top: 0px;
            left: 0px;
        }
    }
    
    @keyframes headerTwoLaptop {
        0%{
            position: absolute;
            width: 244px;
            top: calc(50vh - 50px);
            left: calc(50% - 60px - 122px);
        }
        30%{
            position: absolute;
            width: 244px;
            top: calc(50vh - 50px);
            left: calc(50% - 60px - 122px);
        }
        80%{
            position: absolute;
            width: 244px;
            top: 50px;
            left: 0% ;
        }
        100%{
            position: absolute;
            width: 244px;
            top: 50px;
            left: 0%;
        }
    }
}

/********* Header section for tablet am mobile  *********/
@media only screen and (max-width: 1040px){
    .headerSection{
        position: relative;
       display: flex;
       flex-direction: row;
       padding: 0px 30px;
    }
}

/********* Background with animation *********/

.background{
    background-color: #101116;
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    transform: translateX(-60px) translatey(-30px);
    opacity: 1;
    margin: auto;
   

}
.backgroundFade {
    animation: backgroundFade 3s linear;
}

@keyframes backgroundFade {
    0% {
        background-color: #101116;
        height: 100vh;
        width: 100vw;
        transform: translateX(-30px) translatey(-30px);
        opacity: 1;
    }
    90% {
        background-color: #101116;
        height: 100vh;
        width: 100vw;
        transform: translateX(-30px) translatey(-30px);
        opacity: 1;
        }
    100% {
        opacity: 0;
        background-color: #101116;
        height: 100vh;
        width: 100vw;
        transform: translateX(-30px) translatey(-30px);
     
    }
}

/********* Media Queries Mobile *********/

@media only screen and (max-width: 878px){
    .enterSite{
        font-size: 18px;
        width: 120px;
        left: calc(50vw - 90px);
    }
    .mainHeader {
        font-size: 28px;
        width: 204px;
        top: calc(50vh - 100px);
        left: calc(50vw - 102px - 30px);
    }
    .subheader {
        font-size: 18px;
        width: 146px;
        margin-top: 0;
        top: calc(50vh - 65px);
        left: calc(50% - 73px - 60px);
    }
    .mainHeaderThree{
            font-size: 16px;
            top: 64px;
            left: 0px;
        }
    
    .mainHeaderAnimation{
        animation: mainHeaderMobile 3.2s ease-in-out forwards;
    }
    .subheaderAnimation {
        animation: headerTwoMobile 3.2s ease-in-out forwards;
    }
    .background{ 
    
       transform: translateX(-30px) translatey(-30px);    
    }
    .backgroundFade {
        animation: backgroundFade 3s linear;
    }
}
/********* Mobile header animations *********/

@keyframes mainHeaderMobile {
    0%{
        font-size: 28px;
        position: absolute;
        width: 348px;
        top: calc(50vh - 100px);
        left: calc(50vw - 132px);
    }
    10%{
        font-size: 28px;
        position: absolute;
        width: 348px;
        top: calc(50vh - 100px);
        left: calc(50vw - 132px);
    }
    60%{
        font-size: 28px;
        position: absolute;
        width: 348px;
        top: 0px;
        left: 0px;
    }
    100% {
        font-size: 28px;
        position: absolute;
        width: 348px;
        top: 0px;
        left: 0px;
    }
}
@keyframes headerTwoMobile {
    0%{
        position: absolute;
        width: 244px;
        top: calc(50vh - 65px);
        left: calc(50vw - 103px);
        font-size: 18px;
    }
    30%{
        position: absolute;
        width: 244px;
        top: calc(50vh - 65px);
        left: calc(50vw - 103px);
        font-size: 18px;
    }
    80%{
        position: absolute;
        width: 244px;
        top: 28px;
        left: 0px;
        font-size: 18px;
    }
    100%{
        position: absolute;
        width: 244px;
        top: 28px;
        left: 0px;
        font-size: 18px;
    }
}





