.navigationContainer{
    margin-top: 126px;
    width: 533px;
}
.navigationContainer ul{
    list-style-type: none;
    margin-top: 50px;
    padding: 0px;
}
.navigationContainer li{
    width: 126px;
    color: #E6E6FA;
    font-family: "Cormorant Garamond";
    text-transform: uppercase; 
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 7px;
    position: relative;
}
.navigationContainer li:after{
    content: '';
    width: 126px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: width 0.5s ease;
}
.navigationContainer li:hover:after{
    width: 300px;
    transition: width 0.5s ease-in-out;
}
.navigationContainer li a {
    text-decoration: none;
}

