.navigationContainer{
    margin-top: 126px;
    width: 533px;
    opacity: 0;
    animation: showNav 2s ease 3s forwards;
}
.noDisplay {
    display: none;
}
@keyframes showNav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    
}

.navigationContainer ul{
    list-style-type: none;
    margin-top: 50px;
    padding: 0px;
}
.navigationContainer li{
    width: 126px;
    color: #E6E6FA;
    font-family: "Cormorant Garamond";
    text-transform: uppercase; 
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 7px;
    position: relative;
}
.navigationContainer li:after{
    content: '';
    width: 126px;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: width 0.5s ease;
}
.navigationContainer li:hover:after{
    width: 300px;
    transition: width 0.5s ease-in-out;
}
.navigationContainer li a {
    text-decoration: none;
}

@media only screen and (max-width: 1040px){
    .navigationContainer{
        position: absolute;
        right: 30px;
        top: 0px;
        width: 200px;
        height: auto;
        margin-top: 30px;
    }
    .navigationContainer ul{
        margin-top: 0px;
    }
}
@media only screen and (max-width: 660px){
    .navigationContainer{
        width: 160px;
        right: 0px;
    }
  
}
@media only screen and (max-width: 480px){
        .navigationContainer{
            width: 100%;
            padding: 0px 30px;
            top: 110px;
        }
        .navigationContainer ul{
           width: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           gap: 4px;
           justify-content: space-between;
        }
        .navigationContainer li {
            width: auto;
        }
        .navigationContainer li:after{
            width: 100%;
          
        }
        .navigationContainer li:hover:after{
            width: 120px;
          
        }
      
}
