.imageContainer{
    width: 204px;
    height: 150px;
    border-radius: 7px;
    background-color: #E6E6FA /*Remove this once dynamic data is pulling through*/
}

@media only screen and (max-width: 488px){
    .imageContainer {
        width: 100%;
        height: 300px;

    }
}
