/******** PROJECT CONTAINER ********/

.projectContainer {
    box-sizing: border-box;
    width: 100%;
    max-width: 863px;
    height: auto;
    min-height: 377px;
    padding: 28px 60px 28px 31px;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 10px;
}
.projectContainer:after{
    position: absolute;
    content: '';
    height: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 7px;
    transition: all 0.5s;
    z-index: -1;
}
.projectContainer:hover:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 7px;
    bottom: 0;
    left: 0;
    background-color: #B0C4DE1a;
    border-right: #B0C4DE solid 1px;
    border-bottom: #B0C4DE solid 1px;
    transition: all 0.5s;    z-index: -1;
}
.projectContainer:hover p{
    font-weight: 300;
}

/********* IMAGE CONTAINER ********/

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/********* PROJECT INFO *********/

.infoContainer {
    width: 100%;
    max-width: 533px;
    position: relative;
    justify-self: flex-end;
}
.projectH2 {
    position: relative;
    width: 100%;
    margin-bottom: 7px;
}
.projectH2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 1px;  /* Adjust thickness as needed */
    background-color: currentColor; /* Matches text color */
}

/******* LANGUAGES **********/

.languageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7px;
    width: 100%;
    position: absolute;
    bottom: 32px;
}