@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

.aboutContainer{
    width: 100%;
    max-width: 863px;
    justify-self: flex-end;
    padding: 0px 30px;
}
.aboutContainer p{
    margin-bottom: 20px;
}
.emailMe {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.emailMe:after{
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    background-color: white;
    left: 0px;
    bottom: 0;
    transition: all 0.3s ease;
}
.emailMe:hover:after{
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}
.logoContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.logoContainer img {
    height: 30px;
    width: 30px;
    fill: white;

}

@media only screen and (max-width: 1040px){
    .aboutContainer{
        width: 100%;
        max-width: 100%;
        padding: 0px 30px;
        justify-self: flex-end;
     
    }
}
@media only screen and (max-width: 880px){
    .aboutContainer{
       margin-top: 60px;
     
    }
    .logoContainer img{
        height: 40px;
        width: 40px;
    }
}