.languageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 24px;
    width: 100%;
    max-width: 126px;
    min-width: 100px;
    border-radius: 100px;
    display: flex;
    background-color: #FFD700;
}
.languageContainer p {
    font-weight: 500;
    font-size: 12px;  
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    margin: auto;
    color: black;
}

