/******** EXPERINCE CONTAINER ********/

.experienceContainer {
  box-sizing: border-box;
    width: 100%;
    max-width: 863px;
    height: auto;
    padding: 28px 60px 28px 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 10px;
}

.experienceContainer:after{
    position: absolute;
    content: '';
    height: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 7px;
    transition: all 0.5s;
    border-right: #101116 solid 1px;
    border-bottom: #101116 solid 1px;
    z-index: -1;
}
.experienceContainer:hover:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 7px;
    bottom: 0;
    left: 0;
    background-color: #B0C4DE0a;
    border-right: #B0C4DE33 solid 1px;
    border-bottom: #B0C4DE33 solid 1px;
    transition: all 0.5s;    z-index: -1;
}


/******** DATES CONTAINER ********/
.datesContainer {
    width: 100%;
    max-width: 204px;
    position: relative;
}
.datesContainer p {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: left;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
    text-transform: capitalize;
}
/******** INFO CONTAINER ********/
.expInfoContainer {
    width: 100%;
    max-width: 533px;
}
.expInfoContainer h2 {
    width: 100%;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.expInfoContainer h2::after{
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    bottom: 5px;
    left: 0px;
    background-color: currentColor;
}
@media only screen and (max-width: 1040px){
    .experienceContainer{
        max-width: 90%;
        margin: 10px auto;
    }
    .expInfoContainer {
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 780px){
    .experienceContainer{
       flex-direction: column;
       min-height: 260px;
       height: auto;
       padding-top: 30px;
       justify-content: flex-start;
       gap: 20px;
       margin-bottom: 30px;
    }
}
@media only screen and (max-width: 480px){
    .experienceContainer{
       max-width: 100%;
       margin-bottom: 50px;
    }
    
}
